$MainBg_col: rgb(248, 246, 242);
$Bg_col: rgb(231, 224, 211);
$Dark_col: rgba(44, 44, 44, 0.714);
$Btn_col: rgb(240, 235, 226);
$Brd_col: rgb(184, 171, 148, 0.4);

$border: 1px solid $Brd_col;
$border-radius: 10px;
