@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "mixin";

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: $border;
  &__logo-item {
    display: flex;
    width: auto;
  }
  &__logo {
    color: $Dark_col;
    font-size: 25px;
    font-weight: 700;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 53px;
    padding: 0 10px 0 10px;
  }
  &__button-exit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    border-left: 1px solid $border;
  }
  &__exit {
    color: $Dark_col;
    font-size: 19px;
    letter-spacing: 0.01em;
    cursor: pointer;
    &:hover {
      font-weight: 600;
    }
  }
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 350px;
  &__list {
    display: flex;
  }
  &__list-item {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 280px;
    padding-right: 15px;
  }
  &__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    color: $Dark_col;
    border: unset;
    border-radius: $border-radius;
    font-size: 19px;
    letter-spacing: 0.01em;
    cursor: pointer;
    &:hover {
      background-color: $Btn_col;
    }
  }
}

.aside {
  &__items {
    background-color: #fff;
    border: $border;
    border-radius: $border-radius;
    width: 250px;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
  }
  &__signature {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 250px;
      height: 1px;
      background-color: $Brd_col;
    }
  }
  &__item-image {
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  &__item-name {
    color: $Dark_col;
    font-size: 20px;
    font-weight: 600;
    max-width: 200px;
    padding-bottom: 5px;
  }
  &__item-text {
    max-width: 200px;
    color: $Dark_col;
    font-size: 14px;
    text-align: center;
  }
  &__subscribe-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__subscribe-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: -15px;
    color: $Dark_col;
    font-size: 17px;
    font-weight: 600;
    padding-left: 30px;
    background-color: $Btn_col;
    border: 1px solid $Brd_col;
    cursor: pointer;
    &:hover {
      background-color: $Brd_col;
    }
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 15px;
  }
  &__menu-item {
  }
  &__menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 250px;
    color: $Dark_col;
    font-size: 17px;
    font-weight: 600;
    padding-left: 30px;
    cursor: pointer;
    &:hover {
      background-color: $Btn_col;
    }
  }
}
.center__inner {
  display: flex;
  flex-direction: column;
}
.blog {
  background-color: $MainBg_col;
  padding-top: 77px;
  height: 100%;
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__share {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: $border;
    border-radius: $border-radius;
    width: 100%;
    height: 120px;
    padding: 20px;
  }
  &__share-name {
    color: $Dark_col;
    border: unset;
    width: 200px;
    height: 30px;
    padding-left: 25px;
  }
  &__share-item {
    display: flex;
    align-items: center;
    color: $Dark_col;
    border-radius: $border-radius;
    font-size: 18px;
    font-weight: 600;
  }
  &__share-post {
    display: flex;
  }
  &__share-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    border: $border;
    width: 100%;
    border-radius: $border-radius;
    padding-left: 25px;
    font-size: 18px;
    &:hover {
      background-color: $MainBg_col;
    }
  }
  &__input-post {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    width: 80%;
    &:focus {
      outline: none;
    }
  }
  &__share-btn {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: $Dark_col;
    background-color: $MainBg_col;
    border: $border;
    border-radius: $border-radius;
    font-size: 18px;
    letter-spacing: 0.01em;
    cursor: pointer;
    &:hover {
      background-color: $Btn_col;
    }
  }
}

.border {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  &__item {
    width: 99%;
    height: 1px;
    background-color: $Brd_col;
  }
}

.article {
  width: 810px;
  &__post {
    width: 100%;
    padding: 20px;
    min-height: 50px;
    background-color: #fff;
    border: $border;
    border-radius: $border-radius;
    margin-bottom: 25px;
  }
  &__post-text {
    color: $Dark_col;
  }
}

.signin {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 25px;
    border: $border;
    border-radius: $border-radius;
  }
  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  &__title {
    color: $Dark_col;
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 5px;
  }
  &__subtitle-item {
    display: flex;
    align-items: center;
    color: $Dark_col;
  }
  &__place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__place-input {
    width: 100%;
    height: 40px;
    border: $border;
    border-radius: $border-radius;
    padding-left: 25px;
    font-size: 18px;
    &:hover {
      background-color: $MainBg_col;
    }
    &:focus {
      outline: none;
    }
  }
  &__place-input + .form__place-input {
    margin-top: 10px;
  }
  &__item-btn {
    display: flex;
    margin-bottom: 20px;
  }
  &__item-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $Dark_col;
    font-size: 17px;
    width: 100%;
    height: 40px;
    font-weight: 600;
    border: $border;
    border-radius: $border-radius;
    background-color: $Btn_col;
    cursor: pointer;
    &:hover {
      background-color: $Bg_col;
    }
  }
  &__down {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__down-item {
    display: flex;
  }
  &__down-question {
    display: flex;
    align-items: center;
    color: $Dark_col;
    padding-right: 12px;
  }
  &__down-btn {
    display: flex;
  }
  &__down-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $Dark_col;
    font-size: 17px;
    width: 130px;
    height: 40px;
    font-weight: 600;
    border: $border;
    border-radius: $border-radius;
    background-color: $Btn_col;
    cursor: pointer;
    &:hover {
      background-color: $Bg_col;
    }
  }
}

.signup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.msg {
  padding-bottom: 10px;
  &__item {
    color: rgb(189, 32, 32);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $MainBg_col;
  &__logo {
    color: $Dark_col;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 40px;
  }
}
