AddDefaultCharset utf-8

# Переадресація на index.php при введенній будь-якого посилання після index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php